/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-color: #f8f9fa;
}

/* Títulos y Botones */
.h1, .h2, .h3, .h4, .h5, .sidebar, .card-title, .accordion-button, .accordion-button:not(.collapsed) {
    color: brown;
}

/* Tarjetas y Contenedores */
.card, .card_pie {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-text {
    color: #6c757d;
    font-size: 0.9em; /* Reducir el tamaño de la fuente dentro de los textos de las tarjetas */
}

/* Ajustes adicionales */
.card {
    border: 1px solid #ccc; /* Bordes ligeros */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border-radius: 5px; /* Bordes ligeramente redondeados */
}

/* Mapa */
#map {
    height: 100%;
    width: 100%;
    border-radius: 1px;
}

/* Secciones de Información */
#infoSection {
    flex: 0 0 30%; /* Ocupa el 30% del ancho */
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info {
    height: 600px;
    width: 25%; /* Reducir el ancho del contenedor de información */
    float: left;
    padding: 10px;
    border-left: 1px solid #ccc;
    background-color: #f8f9fa;
    font-size: 0.9em; /* Reducir el tamaño de la fuente dentro del contenedor de información */
}

#mapSection {
    flex: 0 0 70%;
    margin-top: 40px; /* Ajusta este valor según necesites */
    height: 80vh; /* 80% de la altura de la ventana del navegador */

}

/* Leyendas */
#legend {
    font-size: 0.9em; /* Tamaño de la fuente */
    padding: 5px; /* Relleno */
    border: 1px solid #ccc; /* Borde */
    background-color: #fff; /* Fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 350px; /* Ancho máximo */
    margin: 10px; /* Centrar y margen exterior */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente */
}

#legend .contenedor_leyendas {
    max-height: 100px; /* Altura máxima */
    overflow-y: auto; /* Desplazamiento vertical */
    padding: 3px; /* Relleno interno */
    font-size: 0.75em; /* Tamaño de la fuente interna */
    
}

/* Estilo para los elementos individuales de la leyenda */
#legend .contenedor_leyendas div {
    margin-bottom: 3px; /* Margen inferior entre elementos */
}

#legend .contenedor_leyendas span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px; /* Margen derecho */
    width: 12px; /* Ancho del cuadro de color */
    height: 12px; /* Altura del cuadro de color */
}

/* Tablas */
table, th, td {
    border: 1px solid black;
}

/* Estilo Sticky */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Selectores */
#stateSelector {
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #ced4da; /* Borde similar al de las tarjetas */
    border-radius: 0.25rem; /* Bordes redondeados */
    padding: 0.375rem 0.75rem; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente */
    color: #495057; /* Color del texto */
    width: 100%; /* Ancho completo */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra ligera */
    appearance: auto; /* Asegura que el estilo nativo del navegador se aplique */
    -webkit-appearance: auto; /* Para navegadores WebKit */
    -moz-appearance: auto; /* Para Firefox */
}

#stateSelector option {
    display: flex;
    align-items: center;
    padding: 5px;
}

#stateSelector img {
    vertical-align: middle;
    margin-right: 10px;
    width: 20px; /* Ajusta el tamaño del ícono */
    height: 20px;
}


#sidebar h3 {
    color: brown; /* Homologar color del título */
}

.card, #stateSelector {
    width: 100%;
}

/* Estilo Popup */
.leaflet-popup-content {
    font-family: Arial, sans-serif; /* Cambiar la fuente si es necesario */
    font-size: 14px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
}

.leaflet-popup-content h4 {
    margin-top: 5; /* Ajuste del margen superior */
    margin-bottom: 10px; /* Ajuste del margen inferior */
    font-size: 18px; /* Tamaño de fuente */
    color: brown; /* Color del título */
}

.leaflet-popup-content p {
    margin: 7px 0; /* Margen entre los párrafos */
}

.leaflet-popup-content img {
    display: block;
    margin: 10px auto; /* Centrando la imagen en el popup */
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
}

/* Contenedor principal para el mapa y la información */
#mapInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    margin-bottom: 20px; /* Espacio debajo del contenedor */
}

#organismTypeChart {
    width: 90%; /* Mantener el gráfico de tamaño completo dentro del contenedor */
    height: 90%;
}

.accordion-item, .accordion-button {
    width: 100%; /* Forzar que todos los elementos ocupen el ancho completo */
    margin: 0 auto; /* Centrar los elementos horizontalmente */
}


.accordion-item {
    width: 100%; /* Asegura que todos los acordeones ocupen el ancho completo del contenedor */
    min-height: 70px; /* Asegura que cada acordeón tenga al menos esta altura */
    margin-bottom: 10px; /* Espacio entre los acordeones */
    flex-direction: column;
    justify-content: space-between;
}

.accordion-button {
    width: 100%; /* Asegura que el botón de cada acordeón ocupe todo el ancho */
    min-height: 70px; /* Altura mínima del botón del acordeón */
    display: flex;
    align-items: center; /* Centra verticalmente el texto dentro del acordeón */
    justify-content: center; /* Centra horizontalmente el contenido */
    background-color: #e7f1ff; /* Color de fondo cuando el acordeón está expandido */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.accordion-collapse {
    min-height: 300px; /* Puedes ajustar esto según la altura mínima que quieras para los acordeones */
    transition: height 0.3s ease-in-out; /* Transición suave */
}
.accordion-button:not(.collapsed) {
    background-color: #d0e3ff; /* Color cuando está activo */
    color: #0d6efd; /* Color del texto cuando está activo */
    font-weight: bold; /* Hacer que el texto sea más fuerte */
    -webkit-appearance: none; /* Elimina estilos predeterminados de WebKit */
    -moz-appearance: none; /* Elimina estilos predeterminados de Firefox */
    appearance: none; /* Elimina estilos predeterminados del navegador */
}


.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header .accordion-button {
    font-size: 1.25rem; /* Aumenta el tamaño de la fuente */
    color: brown; /* Un color gris oscuro para el texto */
}

.accordion-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px; /* Ajusta según lo necesites */
}


@media (max-width: 768px) {
    .accordion-item {
        margin-bottom: 15px; /* Más espacio en pantallas pequeñas */
    }

    .accordion-button {
        font-size: 1rem; /* Reducir un poco el tamaño del texto en pantallas pequeñas */
    }
}

.state-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    transition: max-height 0.3s ease; /* Añadir una transición suave */
    max-height: 50px; /* Altura por defecto cuando está colapsado */
    overflow: hidden;
}

.state-list.active {
    max-height: 300px; /* La altura máxima cuando está desplegado */
}

.state-list .state-option {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.leaflet-popup-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente más moderna */
    font-size: 14px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    line-height: 1.5; /* Espaciado entre líneas para mejor legibilidad */
}

.leaflet-popup-content h4 {
    margin-top: 0; /* Eliminar margen superior */
    margin-bottom: 10px; /* Margen inferior */
    font-size: 18px; /* Tamaño de fuente */
    color: brown; /* Color del título, más llamativo */
    font-weight: bold; /* Título en negrita */
    border-bottom: 2px solid #ddd; /* Línea bajo el título */
    padding-bottom: 5px; /* Espaciado debajo del título */
}

.leaflet-popup-content p {
    margin: 5px 0; /* Margen entre los párrafos */
    color: #666; /* Color del texto ligeramente más claro */
}

.leaflet-popup-content img {
    display: block;
    margin: 10px 0; /* Márgenes arriba y abajo */
    max-width: 50px; /* Ajustar el tamaño máximo de la imagen */
    border-radius: 50%; /* Hacer las imágenes redondeadas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añadir una sombra suave */
}

.leaflet-popup-content .partido-container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Espacio antes del contenedor */
}

.leaflet-popup-content .partido-container img {
    margin-left: 5px; /* Margen a la izquierda del icono del partido */
    border-radius: 5px; /* Bordes ligeramente redondeados */
}

.leaflet-popup-tip {
    background-color: brown; /* Cambiar el color de la punta del popup */
}
